<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<form method="post" enctype="multipart/form-data">

	<div class="row">
		<div class="six columns">
			<label for="uuid">Uuid</label>
			<input class="u-full-width" type="text" name="uuid" placeholder="auto generated" readonly="readonly" value="<%= obj.global.urlParsed.query.uuid %>" />
		</div>

		<div class="six columns">
			<label for="created">Created</label>
			<input class="u-full-width" type="text" name="uuid" placeholder="auto generated" readonly="readonly" value="<%= obj.product.created %>" />
		</div>
	</div>

	<h2>Attributes</h2>
	<% _.forEach(obj.product.attributes, function (attributeValues, attributeName) { %>
		<% for (var i = 0; attributeValues[i] !== undefined; i ++) { %>
			<div class="row">
				<div class="six columns">
					<label for="attributeName[]">Field Name</label>
					<input class="u-full-width" type="text" name="attributeName[]" value="<%= attributeName %>" />
				</div>

				<div class="six columns">
					<label for="attributeValue[]">Field Value</label>
					<input class="u-full-width" type="text" name="attributeValue[]" value="<%= attributeValues[i] %>" />
				</div>
			</div>
		<% } %>
	<% }); %>

	<div class="row">
		<div class="six columns">
			<label for="attributeName[]">Field Name</label>
			<input class="u-full-width" type="text" name="attributeName[]" value="" />
		</div>

		<div class="six columns">
			<label for="attributeValue[]">Field Value</label>
			<input class="u-full-width" type="text" name="attributeValue[]" value="" />
		</div>
	</div>

	<h2>Images</h2>

	<% if (obj.product.images && obj.product.images.length) { %>
		<% let rowNr = 1; %>
		<% let colNr = 1; %>

		<% for (let i = 0; obj.product.images[i] !== undefined; i ++) { %>
			<% const img = obj.product.images[i]; %>
			<% if (colNr === 1) { %>
	<div class="row">
			<% } %>

		<div class="three columns parent">
			<img class="u-full-width" src="/uploaded/images/<%= img.slug %>?width=360" alt="" />
			<p class="u-full-width"><%
				if (img.metadata && Array.isArray(img.metadata)) {
					for (let i = 0; img.metadata[i] !== undefined; i ++) {
						if (img.metadata[i].name === 'description') {
							print(img.metadata[i].data);
						}
					}
				}
			%></p>
			<p style="text-align: center;" class="u-full-width"><button type="submit" name="rmImage" class="button warning rmParent noPageReload" value="<%= img.uuid %>">Delete image</button></p>
		</div>

			<% if (colNr === 4) { %>
	</div>
			<% } %>

			<%
				colNr ++;

				if (colNr === 5) {
					rowNr ++;
					colNr = 1;
				}
			%>
		<% } %>
		<% if (colNr !== 5) { %>
	</div>
		<% } %>
	<% } %>

	<h2>Files</h2>
	<div class="row">
		<div class="three columns">
			<p class="u-full-width">Add new file <input type="file" name="newFile" /></p>
			<input type="text" class="u-full-width" name="newFileDesc" placeholder="Description" />
		</div>
		<div class="three columns">
			<p>Select existing files</p>
			<input type="text"	name="existingFileUuid-label" value="" id="existingFileUuid-label" />
			<input type="hidden"	name="existingFileUuid" value="false" />
		</div>
	</div>

	<% if (obj.product.files) { %>
		<div class="row">
			<table>
				<thead>
					<tr>
						<th>Uuid</th>
						<th>Name</th>
						<th>Type</th>
						<th>Description</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<% for (const file of obj.product.files) { %>
						<tr>
							<td><a href="/adminFileEdit?uuid=<%= file.uuid %>"><%= file.uuid %></a></td>
							<td><a href="/dbfiles/<%= file.slug %>"><%= file.slug %></a></td>
							<td><%= file.metadata.type %></td>
							<td><%= file.metadata.description %></td>
							<td><button type="submit" name="rmFile" value="<%= file.uuid %>">X</button></td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	<% } %>

	<div class="row">
		<div class="three columns">
			<p class="u-full-width">Add new image <input type="file" name="newImage" /></p>
			<input type="text" class="u-full-width" name="newImageDesc" placeholder="Description" />
		</div>
	</div>

	<div class="controls clearfix">
		<button type="submit" name="save" class="button right inv">Save</button>
		<a class="button left" href="/products/list">Cancel</a>
		<% if (global.urlParsed.query.uuid) { %>
			<button type="submit" name="rmProduct" class="button left warning" value="true">Delete product</button>
		<% } %>
	</div>
</form>
<%= _.render('inc/pageBottom', obj) %>
