<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<form method="get">
	<div class="row">
		<div class="two columns">
			<label for="filterAttributeName">Filter by attribute name:</label>
			<select class="u-full-width" name="filterAttributeName" id="filterAttributeName">
				<option style="font-style: italic;" value="">--All attributes--</option>

				<% _.forEach(obj.productAttributes, function(productAttribute) { %>
					<option value="<%= productAttribute %>"<% if (productAttribute === obj.global.urlParsed.query.filterAttributeName) { print(' selected="selected"'); } %>><%
						if (productAttribute.substring(productAttribute.length - 8) === '.keyword') {
							print(productAttribute.substring(0, productAttribute.length - 8));
						} else {
							print(productAttribute);
						}
					%></option>
				<% }); %>
			</select>
		</div>

		<div class="two columns">
			<label for="search">Filter by attribute value:</label>
			<input class="u-full-width" type="text" name="filterAttributeValue" id="filterAttributeValue" value="<%= obj.global.urlParsed.query.filterAttributeValue %>" placeholder="Leave blank to match all within this name" />
		</div>

		<div class="two columns">
			<label for="search">Full text search:</label>
			<input class="u-full-width" type="text" name="search" id="search" value="<%= obj.global.urlParsed.query.search %>" placeholder="Leave blank to match all" />
		</div>

		<div class="three columns">
			<button class="button inv">Filter</button>
		</div>
	</div>
</form>

<table>
	<thead>
		<tr>
			<th>UUID</th>
			<th>Created</th>
			<th>Name</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% for (const product of obj.products.hits) { %>
			<tr>
				<td><a href="/products/edit?uuid=<%= product._id %>"><%= product._id %></a></td>
				<td><%= product.created %></td>
				<td><%= (product._source !== undefined && product._source.name	!== undefined) ? product._source.name	: '<em>undefined</em>' %></td>
				<td><%= (product._source !== undefined && product._source.status	!== undefined) ? product._source.status	: '<em>undefined</em>' %></td>
			</tr>
		<% } %>
	</tbody>
</table>
<%= _.render('inc/pagination', obj.pagination) %>
<%= _.render('inc/pageBottom', obj) %>
